a{
  color:orange;
  text-decoration: none;
}

a:visited{
  color:green;
}

a:hover{
  color:red;
  font-size: 200%;
  text-decoration: underline;
}

a:active{
  color:black;
  text-decoration: underline;
}
